<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_guanai00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,138}}</string>
                <key>offset</key>
                <string>{169,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,138}}</string>
                <key>offset</key>
                <string>{126,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,138}}</string>
                <key>offset</key>
                <string>{83,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai03.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{62,138}}</string>
                <key>offset</key>
                <string>{39,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai04.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{80,174}}</string>
                <key>offset</key>
                <string>{-4,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,126},{80,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai05.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,2},{106,234}}</string>
                <key>offset</key>
                <string>{-3,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai06.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{106,234}}</string>
                <key>offset</key>
                <string>{-2,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai07.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{106,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai08.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{106,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai09.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{202,240}}</string>
                <key>offset</key>
                <string>{-49,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{202,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{202,240}}</string>
                <key>offset</key>
                <string>{-49,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{202,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai11.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,244},{202,240}}</string>
                <key>offset</key>
                <string>{-49,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{202,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai12.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,244},{202,240}}</string>
                <key>offset</key>
                <string>{-49,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,60},{202,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai13.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,244},{182,234}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{182,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai14.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,244},{182,234}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{182,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{182,234}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{182,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai16.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,486},{182,234}}</string>
                <key>offset</key>
                <string>{-39,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,66},{182,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai17.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{106,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai18.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,486},{106,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai19.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,486},{106,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai20.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,486},{106,234}}</string>
                <key>offset</key>
                <string>{-1,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,66},{106,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai21.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,486},{62,138}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai22.png</key>
            <dict>
                <key>frame</key>
                <string>{{758,486},{62,138}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai23.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,486},{62,138}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai24.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,486},{62,138}}</string>
                <key>offset</key>
                <string>{-4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,162},{62,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guanai25.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,486},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_guanai.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5fd4e9a32059d416bcec320e11801a2$</string>
            <key>textureFileName</key>
            <string>skillanimation_guanai.png</string>
        </dict>
    </dict>
</plist>
