<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_manheng00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,170}}</string>
                <key>offset</key>
                <string>{136,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,130},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{130,170}}</string>
                <key>offset</key>
                <string>{96,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,130},{130,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{130,170}}</string>
                <key>offset</key>
                <string>{56,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,130},{130,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,2},{130,170}}</string>
                <key>offset</key>
                <string>{16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,130},{130,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{128,170}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,130},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,2},{150,192}}</string>
                <key>offset</key>
                <string>{-23,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,108},{150,192}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng06.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng08.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,268},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng09.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,268},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,268},{256,264}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{256,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{256,264}}</string>
                <key>offset</key>
                <string>{-51,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,36},{256,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng12.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,534},{254,264}}</string>
                <key>offset</key>
                <string>{-50,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{254,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng13.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,534},{254,264}}</string>
                <key>offset</key>
                <string>{-50,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,36},{254,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng14.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,534},{226,264}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{226,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,800},{226,264}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{226,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng16.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,800},{226,264}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{226,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng17.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,800},{226,264}}</string>
                <key>offset</key>
                <string>{-36,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,36},{226,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng18.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,268},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng19.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,800},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1066},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng21.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1066},{200,264}}</string>
                <key>offset</key>
                <string>{-23,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,36},{200,264}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng22.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,2},{128,170}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,130},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng23.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1066},{128,170}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,130},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng24.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,1066},{128,170}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,130},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng25.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,1066},{128,170}}</string>
                <key>offset</key>
                <string>{-23,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,130},{128,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_manheng26.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,1066},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_manheng.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9b17d78923ac36988a024b7aeb10512$</string>
            <key>textureFileName</key>
            <string>skillanimation_manheng.png</string>
        </dict>
    </dict>
</plist>
