<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_xiagurouchang00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,150}}</string>
                <key>offset</key>
                <string>{139,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,150},{122,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{124,150}}</string>
                <key>offset</key>
                <string>{104,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{124,150}}</string>
                <key>offset</key>
                <string>{69,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang03.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{124,150}}</string>
                <key>offset</key>
                <string>{34,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang04.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{160,180}}</string>
                <key>offset</key>
                <string>{-1,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,120},{160,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang05.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,2},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,242},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang07.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,242},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang08.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,242},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang09.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,242},{290,240}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{290,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{290,240}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{290,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang11.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,484},{290,240}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{290,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang12.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,484},{290,240}}</string>
                <key>offset</key>
                <string>{-19,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,60},{290,240}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{272,238}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{272,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang14.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,726},{272,238}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{272,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang15.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,726},{272,238}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{272,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{272,238}}</string>
                <key>offset</key>
                <string>{-10,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,62},{272,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang17.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,242},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang18.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,966},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang19.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,966},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang20.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,966},{220,238}}</string>
                <key>offset</key>
                <string>{16,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,62},{220,238}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{124,150}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang22.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,1206},{124,150}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang23.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1206},{124,150}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang24.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,1206},{124,150}}</string>
                <key>offset</key>
                <string>{-1,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,150},{124,150}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiagurouchang25.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1206},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_xiagurouchang.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:81994236aad0961466f4f893aa9e7307$</string>
            <key>textureFileName</key>
            <string>skillanimation_xiagurouchang.png</string>
        </dict>
    </dict>
</plist>
