<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_jianhun00.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,666},{96,102}}</string>
                <key>offset</key>
                <string>{152,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{304,198},{96,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun01.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,358},{104,102}}</string>
                <key>offset</key>
                <string>{120,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,198},{104,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,254},{104,102}}</string>
                <key>offset</key>
                <string>{85,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,198},{104,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun03.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,150},{104,102}}</string>
                <key>offset</key>
                <string>{50,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,198},{104,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun04.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,462},{102,102}}</string>
                <key>offset</key>
                <string>{15,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,198},{102,102}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun05.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{148,146}}</string>
                <key>offset</key>
                <string>{15,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,154},{148,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,978},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,926},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun08.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,708},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun09.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,708},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{288,268}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{288,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun11.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{288,268}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{288,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun12.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{288,268}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{288,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,268}}</string>
                <key>offset</key>
                <string>{-3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,32},{288,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun14.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,490},{260,216}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{260,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun15.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,490},{260,216}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{260,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun16.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,272},{260,216}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{260,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun17.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,272},{260,216}}</string>
                <key>offset</key>
                <string>{11,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,84},{260,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun18.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,708},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun20.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,708},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{228,216}}</string>
                <key>offset</key>
                <string>{27,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,84},{228,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun22.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,566},{102,100}}</string>
                <key>offset</key>
                <string>{15,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,200},{102,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun23.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,564},{102,100}}</string>
                <key>offset</key>
                <string>{15,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,200},{102,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun24.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,462},{102,100}}</string>
                <key>offset</key>
                <string>{15,-100}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,200},{102,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun25.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,358},{102,100}}</string>
                <key>offset</key>
                <string>{15,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,200},{102,100}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianhun26.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,150},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_jianhun.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:968e87ddd3beaf811c113411fc348ec7$</string>
            <key>textureFileName</key>
            <string>skillanimation_jianhun.png</string>
        </dict>
    </dict>
</plist>
