<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_nvwa00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,140}}</string>
                <key>offset</key>
                <string>{136,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,160},{128,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa01.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{136,140}}</string>
                <key>offset</key>
                <string>{111,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa02.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,2},{136,140}}</string>
                <key>offset</key>
                <string>{83,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa03.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{136,140}}</string>
                <key>offset</key>
                <string>{55,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa04.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{188,190}}</string>
                <key>offset</key>
                <string>{26,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,110},{188,190}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa05.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,2},{228,232}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,68},{228,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{228,234}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{228,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa07.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,236},{228,234}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{228,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,236},{228,234}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{228,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa09.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,236},{300,234}}</string>
                <key>offset</key>
                <string>{-20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,66},{300,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{300,234}}</string>
                <key>offset</key>
                <string>{-20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,66},{300,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa11.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,472},{300,234}}</string>
                <key>offset</key>
                <string>{-20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,66},{300,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa12.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,472},{300,234}}</string>
                <key>offset</key>
                <string>{-20,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,66},{300,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,708},{278,234}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{278,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa14.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,708},{278,234}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{278,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa15.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,708},{278,234}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{278,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,944},{278,234}}</string>
                <key>offset</key>
                <string>{-9,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,66},{278,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa17.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,236},{228,234}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{228,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa18.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,944},{228,234}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{228,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa19.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,944},{228,234}}</string>
                <key>offset</key>
                <string>{16,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,66},{228,234}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa20.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,944},{228,232}}</string>
                <key>offset</key>
                <string>{16,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,68},{228,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1180},{136,140}}</string>
                <key>offset</key>
                <string>{26,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa22.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,1180},{136,140}}</string>
                <key>offset</key>
                <string>{26,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa23.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,1180},{136,140}}</string>
                <key>offset</key>
                <string>{26,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa24.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,1180},{136,140}}</string>
                <key>offset</key>
                <string>{26,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,160},{136,140}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_nvwa25.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1180},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_nvwa.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c885fbd02b3c223b718faf01d923b4d$</string>
            <key>textureFileName</key>
            <string>skillanimation_nvwa.png</string>
        </dict>
    </dict>
</plist>
