<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_zuixianwangyuebu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,178}}</string>
                <key>offset</key>
                <string>{122,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,122},{156,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{158,178}}</string>
                <key>offset</key>
                <string>{84,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,122},{158,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{158,178}}</string>
                <key>offset</key>
                <string>{46,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,122},{158,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,2},{156,180}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,120},{156,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{158,180}}</string>
                <key>offset</key>
                <string>{-29,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,120},{158,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{174,188}}</string>
                <key>offset</key>
                <string>{-29,-56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,112},{174,188}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,192},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,192},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,192},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{270,270}}</string>
                <key>offset</key>
                <string>{-56,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{270,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,430},{270,270}}</string>
                <key>offset</key>
                <string>{-56,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{270,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,430},{270,270}}</string>
                <key>offset</key>
                <string>{-56,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{270,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{270,270}}</string>
                <key>offset</key>
                <string>{-56,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{270,270}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,702},{246,236}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{246,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,702},{246,236}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{246,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,702},{246,236}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{246,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{246,236}}</string>
                <key>offset</key>
                <string>{-44,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,64},{246,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,192},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,974},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,974},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,974},{216,236}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,64},{216,236}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{158,180}}</string>
                <key>offset</key>
                <string>{-29,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,120},{158,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1212},{158,180}}</string>
                <key>offset</key>
                <string>{-29,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,120},{158,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,1212},{158,180}}</string>
                <key>offset</key>
                <string>{-29,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,120},{158,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1212},{158,180}}</string>
                <key>offset</key>
                <string>{-29,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,120},{158,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zuixianwangyuebu26.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1212},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_zuixianwangyuebu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8b02f857bd9ac116daec58592b88315$</string>
            <key>textureFileName</key>
            <string>skillanimation_zuixianwangyuebu.png</string>
        </dict>
    </dict>
</plist>
