<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_juedou00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,164}}</string>
                <key>offset</key>
                <string>{109,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,164}}</string>
                <key>offset</key>
                <string>{92,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,164}}</string>
                <key>offset</key>
                <string>{74,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{184,164}}</string>
                <key>offset</key>
                <string>{56,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,136},{184,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou04.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,2},{182,164}}</string>
                <key>offset</key>
                <string>{39,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,2},{182,164}}</string>
                <key>offset</key>
                <string>{21,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou06.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{228,184}}</string>
                <key>offset</key>
                <string>{3,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,116},{228,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1338,2},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1648,2},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,282},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou12.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,282},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou13.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,282},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,282},{356,278}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{356,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,282},{356,278}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{356,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,562},{356,278}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{356,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou17.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,562},{356,278}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{356,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou18.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,562},{356,278}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{356,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1076,562},{356,278}}</string>
                <key>offset</key>
                <string>{-21,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,22},{356,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,562},{320,278}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{320,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,842},{320,278}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{320,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou22.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,842},{320,278}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{320,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou23.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,842},{320,278}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{320,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou24.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,842},{320,278}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{320,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1290,842},{320,278}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,22},{320,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou26.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,282},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1612,842},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1122},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou29.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,1122},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou30.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,1122},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou31.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1122},{308,278}}</string>
                <key>offset</key>
                <string>{3,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,22},{308,278}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou32.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1242,1122},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,1122},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1610,1122},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1794,1122},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1402},{182,164}}</string>
                <key>offset</key>
                <string>{3,-68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,136},{182,164}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_juedou38.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1402},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_juedou.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28a26d40db75c71af7cadba014e99fa3$</string>
            <key>textureFileName</key>
            <string>skillanimation_juedou.png</string>
        </dict>
    </dict>
</plist>
