<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_zhanbu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,160}}</string>
                <key>offset</key>
                <string>{154,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{308,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,160}}</string>
                <key>offset</key>
                <string>{114,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{92,160}}</string>
                <key>offset</key>
                <string>{74,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{92,160}}</string>
                <key>offset</key>
                <string>{34,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{114,174}}</string>
                <key>offset</key>
                <string>{-5,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,126},{114,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,2},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,236},{238,244}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{238,244}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,236},{238,244}}</string>
                <key>offset</key>
                <string>{-51,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,56},{238,244}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,236},{222,232}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{222,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{222,232}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{222,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,482},{222,232}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{222,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{222,232}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{222,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,482},{222,232}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{222,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,482},{222,232}}</string>
                <key>offset</key>
                <string>{-43,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,68},{222,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,716},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,716},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,716},{148,232}}</string>
                <key>offset</key>
                <string>{-6,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,68},{148,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,716},{92,160}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,716},{92,160}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,716},{92,160}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,716},{92,160}}</string>
                <key>offset</key>
                <string>{-6,-70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{148,140},{92,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_zhanbu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,716},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_zhanbu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8e95d2381deaeb48176b52d221984cd3$</string>
            <key>textureFileName</key>
            <string>skillanimation_zhanbu.png</string>
        </dict>
    </dict>
</plist>
