<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_jujue00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{90,142}}</string>
                <key>offset</key>
                <string>{149,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue01.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,2},{90,142}}</string>
                <key>offset</key>
                <string>{108,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue02.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{90,142}}</string>
                <key>offset</key>
                <string>{68,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue03.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,2},{90,142}}</string>
                <key>offset</key>
                <string>{27,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue04.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{122,174}}</string>
                <key>offset</key>
                <string>{-16,-63}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,126},{122,174}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue05.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{172,248}}</string>
                <key>offset</key>
                <string>{-34,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue06.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{172,248}}</string>
                <key>offset</key>
                <string>{-34,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue07.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{172,248}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{172,248}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue09.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,252},{236,256}}</string>
                <key>offset</key>
                <string>{-65,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{236,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue10.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,252},{236,256}}</string>
                <key>offset</key>
                <string>{-65,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{236,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue11.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,252},{236,256}}</string>
                <key>offset</key>
                <string>{-65,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{236,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{236,256}}</string>
                <key>offset</key>
                <string>{-65,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,44},{236,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue13.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,510},{210,248}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{210,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue14.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,510},{210,248}}</string>
                <key>offset</key>
                <string>{-52,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{210,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue15.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,510},{208,248}}</string>
                <key>offset</key>
                <string>{-51,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{208,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,768},{208,248}}</string>
                <key>offset</key>
                <string>{-51,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,52},{208,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{172,248}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue18.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,768},{172,248}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue19.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,768},{172,248}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue20.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,768},{172,248}}</string>
                <key>offset</key>
                <string>{-33,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,52},{172,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue21.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,768},{90,142}}</string>
                <key>offset</key>
                <string>{-14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue22.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,768},{90,142}}</string>
                <key>offset</key>
                <string>{-14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue23.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,768},{90,142}}</string>
                <key>offset</key>
                <string>{-14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{90,142}}</string>
                <key>offset</key>
                <string>{-14,-79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,158},{90,142}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jujue25.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,1018},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_jujue.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:063f66baa476ff8808fc90bbd1113f96$</string>
            <key>textureFileName</key>
            <string>skillanimation_jujue.png</string>
        </dict>
    </dict>
</plist>
