<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_guilingjing00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,170}}</string>
                <key>offset</key>
                <string>{135,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,130},{130,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing01.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{164,170}}</string>
                <key>offset</key>
                <string>{110,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing02.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{164,170}}</string>
                <key>offset</key>
                <string>{68,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing03.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,2},{164,170}}</string>
                <key>offset</key>
                <string>{26,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing04.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{164,170}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing05.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{192,180}}</string>
                <key>offset</key>
                <string>{-16,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,120},{192,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing07.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,184},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing08.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,184},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing10.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,446},{300,274}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{300,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing11.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,446},{300,274}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{300,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{300,274}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{300,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing13.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,722},{300,274}}</string>
                <key>offset</key>
                <string>{-31,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,26},{300,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing14.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,722},{282,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{282,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{282,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{282,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing16.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,998},{282,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{282,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing17.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,998},{282,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,40},{282,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1260},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing20.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,1260},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing21.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,1260},{270,260}}</string>
                <key>offset</key>
                <string>{-16,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,40},{270,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing22.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,2},{164,170}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing23.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1260},{164,170}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1522},{164,170}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing25.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,1522},{164,170}}</string>
                <key>offset</key>
                <string>{-16,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,130},{164,170}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_guilingjing26.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,1522},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_guilingjing.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:72e7c4b27e0a109e9c7116ccba001171$</string>
            <key>textureFileName</key>
            <string>skillanimation_guilingjing.png</string>
        </dict>
    </dict>
</plist>
