<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_yuexingzhishu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,166}}</string>
                <key>offset</key>
                <string>{144,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{288,134},{112,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{114,166}}</string>
                <key>offset</key>
                <string>{110,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,134},{114,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{114,166}}</string>
                <key>offset</key>
                <string>{76,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,134},{114,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{114,166}}</string>
                <key>offset</key>
                <string>{42,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,134},{114,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{134,194}}</string>
                <key>offset</key>
                <string>{9,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,106},{134,194}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,260},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,260},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,260},{254,256}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{254,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,260},{254,256}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{254,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{254,256}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{254,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,518},{254,256}}</string>
                <key>offset</key>
                <string>{-28,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,44},{254,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,518},{228,256}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{228,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,518},{228,256}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{228,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,776},{228,256}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{228,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,776},{228,256}}</string>
                <key>offset</key>
                <string>{-15,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,44},{228,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,260},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,776},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{644,776},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,776},{180,256}}</string>
                <key>offset</key>
                <string>{9,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,44},{180,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{112,166}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,134},{112,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,1034},{112,166}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,134},{112,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1034},{112,166}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,134},{112,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1034},{112,166}}</string>
                <key>offset</key>
                <string>{9,-67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,134},{112,166}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuexingzhishu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,1034},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_yuexingzhishu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50c6f0b54d4bc91ce366982cdac611ec$</string>
            <key>textureFileName</key>
            <string>skillanimation_yuexingzhishu.png</string>
        </dict>
    </dict>
</plist>
