<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_sounangtanbao00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{132,138}}</string>
                <key>offset</key>
                <string>{134,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,162},{132,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao01.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,2},{134,138}}</string>
                <key>offset</key>
                <string>{102,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao02.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{134,138}}</string>
                <key>offset</key>
                <string>{69,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao03.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,2},{134,138}}</string>
                <key>offset</key>
                <string>{36,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao04.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{134,138}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao05.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,2},{162,158}}</string>
                <key>offset</key>
                <string>{2,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,142},{162,158}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{206,204}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,96},{206,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao07.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,162},{208,204}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao08.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,162},{208,204}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao09.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,162},{208,204}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{252,220}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,80},{252,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao11.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,368},{252,220}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,80},{252,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao12.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,368},{252,220}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,80},{252,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao13.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,368},{252,220}}</string>
                <key>offset</key>
                <string>{-19,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,80},{252,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{226,204}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,96},{226,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,590},{226,204}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,96},{226,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao16.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,590},{226,204}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,96},{226,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao17.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,590},{226,204}}</string>
                <key>offset</key>
                <string>{-6,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,96},{226,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao18.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,162},{208,204}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{208,204}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao20.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,796},{208,204}}</string>
                <key>offset</key>
                <string>{3,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,96},{208,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao21.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,796},{206,204}}</string>
                <key>offset</key>
                <string>{4,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,96},{206,204}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao22.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{134,138}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao23.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,796},{134,138}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao24.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,796},{134,138}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{134,138}}</string>
                <key>offset</key>
                <string>{3,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,162},{134,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_sounangtanbao26.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1002},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_sounangtanbao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5c91dd55847dd06d5a87ad82782308a1$</string>
            <key>textureFileName</key>
            <string>skillanimation_sounangtanbao.png</string>
        </dict>
    </dict>
</plist>
