<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_jianling00.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,958},{124,132}}</string>
                <key>offset</key>
                <string>{138,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{276,168},{124,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling01.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,936},{126,132}}</string>
                <key>offset</key>
                <string>{104,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,168},{126,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling02.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1062},{124,132}}</string>
                <key>offset</key>
                <string>{71,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,168},{124,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling03.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,160},{126,132}}</string>
                <key>offset</key>
                <string>{37,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,168},{126,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,958},{124,132}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,168},{124,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling05.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{156,178}}</string>
                <key>offset</key>
                <string>{11,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,122},{156,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling06.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,740},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,748},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling08.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,734},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling09.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,718},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{262,268}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{262,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling11.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{262,268}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{262,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling12.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,2},{262,268}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{262,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,268}}</string>
                <key>offset</key>
                <string>{-20,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,32},{262,268}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling14.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,500},{232,232}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{232,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling15.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,288},{232,232}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{232,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling16.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,266},{232,232}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{232,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling17.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,266},{232,232}}</string>
                <key>offset</key>
                <string>{-5,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,68},{232,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling18.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,718},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling19.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,522},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,530},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling21.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,500},{216,232}}</string>
                <key>offset</key>
                <string>{3,-34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{95,68},{216,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{124,132}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,168},{124,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling23.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,952},{124,132}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,168},{124,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling24.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,936},{124,132}}</string>
                <key>offset</key>
                <string>{4,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{142,168},{124,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling25.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1064},{114,132}}</string>
                <key>offset</key>
                <string>{9,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,168},{114,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jianling26.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_jianling.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:627343040fd6b440ae19e55607192912$</string>
            <key>textureFileName</key>
            <string>skillanimation_jianling.png</string>
        </dict>
    </dict>
</plist>
