<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_yuanlingguixinshu00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,176}}</string>
                <key>offset</key>
                <string>{140,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,124},{120,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{154,176}}</string>
                <key>offset</key>
                <string>{122,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2},{154,176}}</string>
                <key>offset</key>
                <string>{87,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{154,176}}</string>
                <key>offset</key>
                <string>{52,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu04.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,2},{174,190}}</string>
                <key>offset</key>
                <string>{17,-55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,110},{174,190}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu05.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,2},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu07.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,278},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu08.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,278},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,554},{290,280}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,20},{290,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,554},{290,280}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,20},{290,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,554},{290,280}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,20},{290,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,836},{290,280}}</string>
                <key>offset</key>
                <string>{4,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,20},{290,280}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,836},{272,274}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{272,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,836},{272,274}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{272,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{272,274}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{272,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,1118},{272,274}}</string>
                <key>offset</key>
                <string>{13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,26},{272,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,278},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,1118},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1394},{250,274}}</string>
                <key>offset</key>
                <string>{24,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,26},{250,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu21.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,1394},{154,176}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu22.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1394},{154,176}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu23.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,1394},{154,176}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1670},{154,176}}</string>
                <key>offset</key>
                <string>{17,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,124},{154,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_yuanlingguixinshu25.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,1670},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_yuanlingguixinshu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a2a638f8a3c2c02e3fac1639b6442ec$</string>
            <key>textureFileName</key>
            <string>skillanimation_yuanlingguixinshu.png</string>
        </dict>
    </dict>
</plist>
