<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_xiongdi00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,152}}</string>
                <key>offset</key>
                <string>{162,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,148},{76,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{100,152}}</string>
                <key>offset</key>
                <string>{150,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{300,148},{100,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{116,152}}</string>
                <key>offset</key>
                <string>{135,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi03.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{116,152}}</string>
                <key>offset</key>
                <string>{112,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi04.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{116,152}}</string>
                <key>offset</key>
                <string>{88,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi05.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,2},{116,152}}</string>
                <key>offset</key>
                <string>{65,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi06.png</key>
            <dict>
                <key>frame</key>
                <string>{{654,2},{116,152}}</string>
                <key>offset</key>
                <string>{41,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi07.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{202,258}}</string>
                <key>offset</key>
                <string>{47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,42},{202,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{202,258}}</string>
                <key>offset</key>
                <string>{47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,42},{202,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi09.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,262},{202,258}}</string>
                <key>offset</key>
                <string>{47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,42},{202,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi10.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,262},{202,258}}</string>
                <key>offset</key>
                <string>{47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,42},{202,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi11.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,262},{328,258}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,42},{328,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,522},{328,258}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,42},{328,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi13.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,522},{314,258}}</string>
                <key>offset</key>
                <string>{-6,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,42},{314,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi14.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,522},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi16.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,782},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi17.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,782},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1042},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi19.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1042},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi20.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,1042},{300,258}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{300,258}}</string>
                <key>offset</key>
                <string>{0,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,42},{300,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi22.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,1302},{206,258}}</string>
                <key>offset</key>
                <string>{47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,42},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi23.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,1302},{206,258}}</string>
                <key>offset</key>
                <string>{47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,42},{206,258}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi24.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1302},{116,152}}</string>
                <key>offset</key>
                <string>{35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi25.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,1302},{116,152}}</string>
                <key>offset</key>
                <string>{35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{116,152}}</string>
                <key>offset</key>
                <string>{35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi27.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1562},{116,152}}</string>
                <key>offset</key>
                <string>{35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi28.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1562},{116,152}}</string>
                <key>offset</key>
                <string>{35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi29.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,1562},{116,152}}</string>
                <key>offset</key>
                <string>{35,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,148},{116,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_xiongdi30.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,1562},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_xiongdi.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a796b18621b9bd0084b7eda93dd27426$</string>
            <key>textureFileName</key>
            <string>skillanimation_xiongdi.png</string>
        </dict>
    </dict>
</plist>
