<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_jieruchou00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,130}}</string>
                <key>offset</key>
                <string>{162,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou01.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,130}}</string>
                <key>offset</key>
                <string>{122,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou02.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,130}}</string>
                <key>offset</key>
                <string>{81,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou03.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,130}}</string>
                <key>offset</key>
                <string>{40,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou04.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{96,152}}</string>
                <key>offset</key>
                <string>{-1,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{151,148},{96,152}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou05.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,2},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou06.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou07.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou08.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{194,232}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{194,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou10.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,232},{194,232}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{194,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou11.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,232},{194,232}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{194,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,232},{194,232}}</string>
                <key>offset</key>
                <string>{-33,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,68},{194,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou13.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,232},{172,228}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{172,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{172,228}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{172,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou15.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,466},{172,228}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{172,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou16.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,466},{172,228}}</string>
                <key>offset</key>
                <string>{-22,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,72},{172,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou17.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,2},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou18.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,466},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou19.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,466},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou20.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,466},{130,228}}</string>
                <key>offset</key>
                <string>{-1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,72},{130,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou21.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,466},{76,130}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{76,130}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou23.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,696},{76,130}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou24.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,696},{76,130}}</string>
                <key>offset</key>
                <string>{-1,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,170},{76,130}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_jieruchou25.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,696},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_jieruchou.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe773f2719a1345a6e2280e6b73e3699$</string>
            <key>textureFileName</key>
            <string>skillanimation_jieruchou.png</string>
        </dict>
    </dict>
</plist>
