<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_huihunxianmeng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,875},{269,318}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,90},{269,318}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,614},{277,322}}</string>
                <key>offset</key>
                <string>{-9,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,90},{277,322}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,614},{281,326}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,86},{281,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1572,658},{285,326}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{285,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1244,588},{285,326}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{285,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng06.png</key>
            <dict>
                <key>frame</key>
                <string>{{916,327},{285,326}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{285,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng07.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,327},{285,326}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{285,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng08.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,2},{323,408}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,56},{323,408}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng09.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,2},{323,408}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,56},{323,408}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1232},{323,408}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{323,408}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,822},{323,408}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{323,408}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{323,408}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{323,408}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{323,408}}</string>
                <key>offset</key>
                <string>{10,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,56},{323,408}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,295},{291,326}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{291,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,2},{291,326}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{291,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,2},{291,326}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{291,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng17.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,1642},{291,326}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{291,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1642},{291,326}}</string>
                <key>offset</key>
                <string>{-6,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{291,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1736,330},{289,326}}</string>
                <key>offset</key>
                <string>{-7,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,86},{289,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
            <key>skillanimation_huihunxianmeng20.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,327},{285,326}}</string>
                <key>offset</key>
                <string>{-9,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,86},{285,326}}</string>
                <key>sourceSize</key>
                <string>{465,600}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_huihunxianmeng.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2cdec523eb5fe2b27d16d14d9d97e15a$</string>
            <key>textureFileName</key>
            <string>skillanimation_huihunxianmeng.png</string>
        </dict>
    </dict>
</plist>
