<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_mengkuilei00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{150,138}}</string>
                <key>offset</key>
                <string>{125,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei01.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,2},{150,138}}</string>
                <key>offset</key>
                <string>{95,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,2},{150,138}}</string>
                <key>offset</key>
                <string>{65,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei03.png</key>
            <dict>
                <key>frame</key>
                <string>{{458,2},{152,138}}</string>
                <key>offset</key>
                <string>{34,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,162},{152,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei04.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{184,168}}</string>
                <key>offset</key>
                <string>{4,-66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,132},{184,168}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{248,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{248,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei06.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,172},{250,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{250,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei07.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,172},{250,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{250,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei08.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,172},{250,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{250,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{274,256}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{274,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei10.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,402},{274,256}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{274,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei11.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,402},{274,256}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{274,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{274,256}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,44},{274,256}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei13.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,660},{256,228}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{256,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei14.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,660},{256,228}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{256,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{256,228}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{256,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei16.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,918},{256,228}}</string>
                <key>offset</key>
                <string>{1,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,72},{256,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei17.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,172},{250,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{250,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei18.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,918},{250,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{250,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei19.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,918},{250,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,72},{250,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{248,228}}</string>
                <key>offset</key>
                <string>{4,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,72},{248,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei21.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,1148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei22.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,1148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei23.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,1148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei24.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,1148},{150,138}}</string>
                <key>offset</key>
                <string>{4,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,162},{150,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengkuilei25.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,1148},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_mengkuilei.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df89302400067e68b799699777e617ed$</string>
            <key>textureFileName</key>
            <string>skillanimation_mengkuilei.png</string>
        </dict>
    </dict>
</plist>
