<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_mengshe00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,148}}</string>
                <key>offset</key>
                <string>{140,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,152},{120,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe01.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{122,148}}</string>
                <key>offset</key>
                <string>{106,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe02.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{122,148}}</string>
                <key>offset</key>
                <string>{72,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe03.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{122,148}}</string>
                <key>offset</key>
                <string>{38,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe04.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{150,182}}</string>
                <key>offset</key>
                <string>{4,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,118},{150,182}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe05.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,2},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,258},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,258},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe09.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,258},{292,254}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{292,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,514},{292,254}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{292,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,514},{292,254}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{292,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe12.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,514},{292,254}}</string>
                <key>offset</key>
                <string>{-37,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,46},{292,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,770},{266,254}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{266,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe14.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,770},{266,254}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{266,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe15.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,770},{266,254}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{266,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1026},{266,254}}</string>
                <key>offset</key>
                <string>{-24,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,46},{266,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,258},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe18.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,1026},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe19.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,1026},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe20.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1026},{210,254}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,46},{210,254}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1282},{122,148}}</string>
                <key>offset</key>
                <string>{4,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe22.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,1282},{122,148}}</string>
                <key>offset</key>
                <string>{4,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe23.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1282},{122,148}}</string>
                <key>offset</key>
                <string>{4,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe24.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,1282},{122,148}}</string>
                <key>offset</key>
                <string>{4,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,152},{122,148}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_mengshe25.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1282},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_mengshe.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04ce5b46bdd2461aa5d888c974a7a819$</string>
            <key>textureFileName</key>
            <string>skillanimation_mengshe.png</string>
        </dict>
    </dict>
</plist>
