<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_wufawutian00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{138,184}}</string>
                <key>offset</key>
                <string>{131,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{138,184}}</string>
                <key>offset</key>
                <string>{96,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{138,184}}</string>
                <key>offset</key>
                <string>{59,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{138,184}}</string>
                <key>offset</key>
                <string>{23,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{166,216}}</string>
                <key>offset</key>
                <string>{-15,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,84},{166,216}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{208,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,26},{208,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,278},{210,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{210,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian07.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,278},{210,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{210,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian08.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,278},{210,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{210,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian09.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,278},{266,290}}</string>
                <key>offset</key>
                <string>{-41,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{266,290}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,570},{266,290}}</string>
                <key>offset</key>
                <string>{-41,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{266,290}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian11.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,570},{266,290}}</string>
                <key>offset</key>
                <string>{-41,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{266,290}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian12.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,570},{266,290}}</string>
                <key>offset</key>
                <string>{-41,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,10},{266,290}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{252,274}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{252,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian14.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,862},{252,274}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{252,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian15.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,862},{252,274}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{252,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian16.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,862},{252,274}}</string>
                <key>offset</key>
                <string>{-34,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,26},{252,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian17.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,278},{210,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{210,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{210,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{210,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian19.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1138},{210,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,26},{210,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian20.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1138},{208,274}}</string>
                <key>offset</key>
                <string>{-13,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,26},{208,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian21.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,1138},{138,184}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian22.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,1138},{138,184}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1414},{138,184}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian24.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,1414},{138,184}}</string>
                <key>offset</key>
                <string>{-13,-58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,116},{138,184}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_wufawutian25.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,1414},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_wufawutian.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e350d25de5a3d370d906bedcf7ccc4$</string>
            <key>textureFileName</key>
            <string>skillanimation_wufawutian.png</string>
        </dict>
    </dict>
</plist>
