<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_haosheng00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,128}}</string>
                <key>offset</key>
                <string>{149,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,172},{102,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,128}}</string>
                <key>offset</key>
                <string>{113,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,172},{102,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,128}}</string>
                <key>offset</key>
                <string>{77,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,172},{102,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{104,128}}</string>
                <key>offset</key>
                <string>{40,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,172},{104,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng04.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{134,158}}</string>
                <key>offset</key>
                <string>{4,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,142},{134,158}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng05.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng06.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng08.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,236},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng09.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,236},{278,232}}</string>
                <key>offset</key>
                <string>{-37,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{278,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng10.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,236},{278,232}}</string>
                <key>offset</key>
                <string>{-37,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{278,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{278,232}}</string>
                <key>offset</key>
                <string>{-37,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{278,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,470},{278,232}}</string>
                <key>offset</key>
                <string>{-37,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,68},{278,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng13.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,470},{252,232}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{252,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{252,232}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{252,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng15.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,704},{252,232}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{252,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng16.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,704},{252,232}}</string>
                <key>offset</key>
                <string>{-24,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,68},{252,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng17.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,236},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng18.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,704},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,938},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng20.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,938},{196,232}}</string>
                <key>offset</key>
                <string>{4,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,68},{196,232}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng21.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,938},{104,128}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,172},{104,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng22.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,938},{104,128}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,172},{104,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng23.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,938},{104,128}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,172},{104,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng24.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,938},{102,128}}</string>
                <key>offset</key>
                <string>{4,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,172},{102,128}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_haosheng25.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,938},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_haosheng.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8099a766f84fe729ca07142e0ac3938f$</string>
            <key>textureFileName</key>
            <string>skillanimation_haosheng.png</string>
        </dict>
    </dict>
</plist>
