<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_houyisherigong00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{102,138}}</string>
                <key>offset</key>
                <string>{149,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{298,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong01.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{102,138}}</string>
                <key>offset</key>
                <string>{114,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{102,138}}</string>
                <key>offset</key>
                <string>{78,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong03.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{102,138}}</string>
                <key>offset</key>
                <string>{42,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,138}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong05.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,142},{142,178}}</string>
                <key>offset</key>
                <string>{6,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,122},{142,178}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong06.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,142},{164,224}}</string>
                <key>offset</key>
                <string>{-8,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,76},{164,224}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,368},{164,224}}</string>
                <key>offset</key>
                <string>{-3,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,76},{164,224}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong08.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,368},{164,222}}</string>
                <key>offset</key>
                <string>{1,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,78},{164,222}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong09.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,368},{162,220}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,80},{162,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{220,274}}</string>
                <key>offset</key>
                <string>{-23,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,26},{220,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong11.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,594},{226,274}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,26},{226,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{226,274}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,26},{226,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong13.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,870},{226,274}}</string>
                <key>offset</key>
                <string>{-26,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,26},{226,274}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{226,220}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{226,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong15.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1146},{226,220}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{226,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1368},{226,220}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{226,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong17.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,1368},{226,220}}</string>
                <key>offset</key>
                <string>{-26,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,80},{226,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong18.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,368},{162,220}}</string>
                <key>offset</key>
                <string>{6,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,80},{162,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{162,220}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{162,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong20.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,1590},{162,220}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{162,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong21.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,1590},{162,220}}</string>
                <key>offset</key>
                <string>{5,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,80},{162,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{102,138}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1812},{102,138}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong24.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,1812},{102,138}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong25.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1812},{102,138}}</string>
                <key>offset</key>
                <string>{6,-81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,162},{102,138}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_houyisherigong26.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,1812},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_houyisherigong.png</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d2c52b8514b4500d40321ef2e646cc3$</string>
            <key>textureFileName</key>
            <string>skillanimation_houyisherigong.png</string>
        </dict>
    </dict>
</plist>
