<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_taotie00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,146}}</string>
                <key>offset</key>
                <string>{145,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{290,154},{110,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{112,146}}</string>
                <key>offset</key>
                <string>{111,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,154},{112,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie02.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{112,146}}</string>
                <key>offset</key>
                <string>{77,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,154},{112,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie03.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,2},{112,146}}</string>
                <key>offset</key>
                <string>{43,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,154},{112,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie04.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{112,146}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,154},{112,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie05.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,2},{146,180}}</string>
                <key>offset</key>
                <string>{9,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,120},{146,180}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie06.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,2},{178,220}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{178,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{180,220}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,80},{180,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie08.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,224},{178,220}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,80},{178,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie09.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,224},{180,220}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{180,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie10.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,224},{262,220}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{262,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{262,220}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{262,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,446},{262,220}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{262,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie13.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,446},{262,220}}</string>
                <key>offset</key>
                <string>{-24,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,80},{262,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie14.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,446},{228,220}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{228,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{228,220}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{228,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie16.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,668},{228,220}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{228,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie17.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,668},{228,220}}</string>
                <key>offset</key>
                <string>{-7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,80},{228,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie18.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,224},{180,220}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{180,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie19.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,668},{180,220}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{180,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{180,220}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{180,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie21.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,890},{180,220}}</string>
                <key>offset</key>
                <string>{17,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,80},{180,220}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie22.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,2},{112,146}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,154},{112,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie23.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,890},{112,146}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,154},{112,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie24.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,890},{110,146}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,154},{110,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie25.png</key>
            <dict>
                <key>frame</key>
                <string>{{592,890},{110,146}}</string>
                <key>offset</key>
                <string>{9,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{154,154},{110,146}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_taotie26.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,890},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_taotie.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c32d6efc4057209238503c6a63faabce$</string>
            <key>textureFileName</key>
            <string>skillanimation_taotie.png</string>
        </dict>
    </dict>
</plist>
