<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_ningbingfenyan00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{182,176}}</string>
                <key>offset</key>
                <string>{109,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,2},{182,176}}</string>
                <key>offset</key>
                <string>{81,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{182,176}}</string>
                <key>offset</key>
                <string>{53,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan03.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{182,176}}</string>
                <key>offset</key>
                <string>{24,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan04.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{206,206}}</string>
                <key>offset</key>
                <string>{-4,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,94},{206,206}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan06.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,210},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan07.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,210},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan09.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,472},{306,260}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{306,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,472},{306,260}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{306,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,734},{306,260}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{306,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan12.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,734},{306,260}}</string>
                <key>offset</key>
                <string>{-29,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,40},{306,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan13.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,734},{292,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{292,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,996},{292,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{292,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan15.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,996},{292,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{292,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan16.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,996},{292,260}}</string>
                <key>offset</key>
                <string>{-22,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,40},{292,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1258},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan19.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,1258},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan20.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,1258},{258,260}}</string>
                <key>offset</key>
                <string>{-5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,40},{258,260}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan21.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1258},{182,176}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1520},{182,176}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan23.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,1520},{182,176}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan24.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1520},{182,176}}</string>
                <key>offset</key>
                <string>{-5,-62}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,124},{182,176}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_ningbingfenyan25.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,1520},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_ningbingfenyan.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:895f2ee76ea6119475381e41428b9c99$</string>
            <key>textureFileName</key>
            <string>skillanimation_ningbingfenyan.png</string>
        </dict>
    </dict>
</plist>
