<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skillanimation_litianji00.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{110,134}}</string>
                <key>offset</key>
                <string>{145,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{290,166},{110,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji01.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,248},{110,134}}</string>
                <key>offset</key>
                <string>{119,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,166},{110,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji02.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,248},{110,134}}</string>
                <key>offset</key>
                <string>{92,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,166},{110,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji03.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,136},{110,134}}</string>
                <key>offset</key>
                <string>{65,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,166},{110,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji04.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,136},{110,134}}</string>
                <key>offset</key>
                <string>{38,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,166},{110,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji05.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,136},{110,134}}</string>
                <key>offset</key>
                <string>{11,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,166},{110,134}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji06.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{132,160}}</string>
                <key>offset</key>
                <string>{13,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{147,140},{132,160}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji07.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,1010},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji08.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,942},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji09.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,922},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,922},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji11.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,732},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji12.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,252},{278,248}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{278,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{278,248}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{278,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji14.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{278,248}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{278,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji15.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{278,248}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{278,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,248}}</string>
                <key>offset</key>
                <string>{-18,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,52},{278,248}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji17.png</key>
            <dict>
                <key>frame</key>
                <string>{{514,712},{254,228}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{254,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji18.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,502},{254,228}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{254,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{254,228}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{254,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji20.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,482},{254,228}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{254,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji21.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,252},{254,228}}</string>
                <key>offset</key>
                <string>{-6,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,72},{254,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji22.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,732},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,732},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji24.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,820},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji25.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,590},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji26.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,360},{188,228}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,72},{188,228}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji27.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,1200},{110,132}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{110,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji28.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,1132},{110,132}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{110,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji29.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1132},{110,132}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{110,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji30.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1112},{110,132}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{110,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji31.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,1112},{110,132}}</string>
                <key>offset</key>
                <string>{10,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,168},{110,132}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
            <key>skillanimation_litianji32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{-199.5,149.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{400,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>skillanimation_litianji.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43cc16bcc1e093664173fc573ee5413c$</string>
            <key>textureFileName</key>
            <string>skillanimation_litianji.png</string>
        </dict>
    </dict>
</plist>
