<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1585-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,519},{91,72}}</string>
                <key>offset</key>
                <string>{2,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,46},{91,72}}</string>
                <key>sourceSize</key>
                <string>{123,122}</string>
            </dict>
            <key>1585-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{119,194}}</string>
                <key>offset</key>
                <string>{-6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{119,194}}</string>
                <key>sourceSize</key>
                <string>{143,204}</string>
            </dict>
            <key>1585-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,200},{106,196}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,8},{106,196}}</string>
                <key>sourceSize</key>
                <string>{146,204}</string>
            </dict>
            <key>1585-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{78,165}}</string>
                <key>offset</key>
                <string>{-8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{78,165}}</string>
                <key>sourceSize</key>
                <string>{100,173}</string>
            </dict>
            <key>1585-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{63,148}}</string>
                <key>offset</key>
                <string>{-6,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{63,148}}</string>
                <key>sourceSize</key>
                <string>{81,158}</string>
            </dict>
            <key>1585-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,398},{56,123}}</string>
                <key>offset</key>
                <string>{-2,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,28},{56,123}}</string>
                <key>sourceSize</key>
                <string>{82,155}</string>
            </dict>
            <key>1585-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,454},{34,90}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,16},{34,90}}</string>
                <key>sourceSize</key>
                <string>{74,144}</string>
            </dict>
            <key>1585-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,456},{89,113}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,63},{89,113}}</string>
                <key>sourceSize</key>
                <string>{127,187}</string>
            </dict>
            <key>1585-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,108},{124,198}}</string>
                <key>offset</key>
                <string>{10,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,3},{124,198}}</string>
                <key>sourceSize</key>
                <string>{148,206}</string>
            </dict>
            <key>1585-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{104,196}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,7},{104,196}}</string>
                <key>sourceSize</key>
                <string>{148,208}</string>
            </dict>
            <key>1585-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{123,192}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,9},{123,192}}</string>
                <key>sourceSize</key>
                <string>{141,202}</string>
            </dict>
            <key>1585-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{104,199}}</string>
                <key>offset</key>
                <string>{7,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,3},{104,199}}</string>
                <key>sourceSize</key>
                <string>{142,207}</string>
            </dict>
            <key>1585-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,340},{124,179}}</string>
                <key>offset</key>
                <string>{-3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,26},{124,179}}</string>
                <key>sourceSize</key>
                <string>{146,211}</string>
            </dict>
            <key>1585-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,234},{104,193}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,12},{104,193}}</string>
                <key>sourceSize</key>
                <string>{148,209}</string>
            </dict>
            <key>1585-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,200}}</string>
                <key>offset</key>
                <string>{11,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,5},{124,200}}</string>
                <key>sourceSize</key>
                <string>{146,208}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>huo.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8795f4b327708109fdce2861887e8da0$</string>
            <key>textureFileName</key>
            <string>huo.png</string>
        </dict>
    </dict>
</plist>
