<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>uui0.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,880},{132,132}}</string>
                <key>offset</key>
                <string>{2,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,149},{132,132}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,334},{178,248}}</string>
                <key>offset</key>
                <string>{1,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,53},{178,248}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,600},{172,278}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,7},{172,278}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui11.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,2},{168,262}}</string>
                <key>offset</key>
                <string>{0,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{168,262}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui12.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{166,262}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,28},{166,262}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui13.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,170},{162,254}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,46},{162,254}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui2.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,290},{190,272}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,32},{190,272}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui3.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{186,286}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{186,286}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,304},{190,294}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,9},{190,294}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{188,300}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,3},{188,300}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{184,298}}</string>
                <key>offset</key>
                <string>{1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,2},{184,298}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{182,298}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,1},{182,298}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,604},{180,296}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,1},{180,296}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
            <key>uui9.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,2},{174,288}}</string>
                <key>offset</key>
                <string>{1,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,2},{174,288}}</string>
                <key>sourceSize</key>
                <string>{204,308}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shui.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f9fd41e1bf1f026eb8b4651ed76351ac$</string>
            <key>textureFileName</key>
            <string>shui.png</string>
        </dict>
    </dict>
</plist>
