<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>tu0.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,195},{120,59}}</string>
                <key>offset</key>
                <string>{-99,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,144},{120,59}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,883},{154,119}}</string>
                <key>offset</key>
                <string>{-113,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,90},{154,119}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,740},{308,121}}</string>
                <key>offset</key>
                <string>{19,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,89},{308,121}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu11.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,740},{306,121}}</string>
                <key>offset</key>
                <string>{18,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,88},{306,121}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu12.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,760},{302,121}}</string>
                <key>offset</key>
                <string>{15,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,88},{302,121}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu13.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,976},{244,101}}</string>
                <key>offset</key>
                <string>{-14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,115},{244,101}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu14.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,863},{270,111}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,110},{270,111}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,589},{314,149}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,79},{314,149}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu16.png</key>
            <dict>
                <key>frame</key>
                <string>{{417,199},{336,175}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,69},{336,175}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,195},{352,195}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,66},{352,195}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu18.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,165},{374,199}}</string>
                <key>offset</key>
                <string>{-6,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,69},{374,199}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu19.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{392,195}}</string>
                <key>offset</key>
                <string>{-6,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,77},{392,195}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{222,107}}</string>
                <key>offset</key>
                <string>{-79,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,102},{222,107}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,191}}</string>
                <key>offset</key>
                <string>{-5,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,84},{414,191}}</string>
                <key>sourceSize</key>
                <string>{500,275}</string>
            </dict>
            <key>tu3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{206,161}}</string>
                <key>offset</key>
                <string>{-69,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,55},{206,161}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,863},{276,145}}</string>
                <key>offset</key>
                <string>{-32,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,71},{276,145}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu5.png</key>
            <dict>
                <key>frame</key>
                <string>{{552,883},{256,193}}</string>
                <key>offset</key>
                <string>{-20,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,30},{256,193}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu6.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,376},{336,173}}</string>
                <key>offset</key>
                <string>{23,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,50},{336,173}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu7.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,541},{328,217}}</string>
                <key>offset</key>
                <string>{28,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,8},{328,217}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{328,195}}</string>
                <key>offset</key>
                <string>{28,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,30},{328,195}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
            <key>tu9.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,551},{324,187}}</string>
                <key>offset</key>
                <string>{26,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,38},{324,187}}</string>
                <key>sourceSize</key>
                <string>{400,225}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>tu.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0bafe3bb0076a78890883cc21d84a0e2$</string>
            <key>textureFileName</key>
            <string>tu.png</string>
        </dict>
    </dict>
</plist>
